@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Rajdhani';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Rajdhani';
}


  



